<mimerTrace traceCategory="All">
  <listeners>
    <add type="file" filename="traceoutput.log"/>
    <add type="database" 
         traceProviderConnectionString="Node=bebop.mimer.se;Database=test_example_db;Protocol=tcp;User Id=SYSADM;Password=SYSADM"/>
  </listeners>
  <applications>All</applications>
  <trace autoFlush="false"/>
</mimerTrace>
